@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ProseMirror:focus {
  outline: none;
}

.content ul,
.editor-container ul,
ol {
  padding-left: 1.5rem;
  list-style: revert;
}

.content li,
.editor-container li {
  margin-bottom: 0.5rem;
}



code {
  background-color: #f4f1ff;
  /* Màu tím nhạt */
  border-radius: 0.4rem;
  color: #333;
  /* Màu đen */
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

pre {
  background: #222;
  /* Màu đen */
  border-radius: 0.5rem;
  color: #f8f8f8;
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  overflow-x: auto;
}

pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* Blockquote */
blockquote {
  border-left: 3px solid #ccc;
  /* Màu xám */
  margin: 1.5rem 0;
  padding-left: 1rem;
  font-style: italic;
  color: #555;
}

/* Horizontal Rule */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: pretty;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}